body {
  background-color: lightgrey;
  font-size: 18pt;
  font-family: sans-serif;
}

.menuItem {
  padding: 10px 20px 5px 20px;
}

#svg {
  margin: auto;
  display: flex;
  align-items: center;
}

#menu {
  padding: 30% 20%;
}

#mainInterface {
  align-items: center;
}

#mainInterface input {
  font-size: 16pt;
  height: 60px;
  width: 80px;
}

#interfaceButtons {
  text-align: center;
}

